body {
    font-family: sans-serif;
    line-height: 1.5;

    background-color: #82e77f;
    color: #333333;

    width: 980px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
}

main > h2 {
    text-align: center;
    font-size: 25px;
}
